# Firebase Config
VITE_FIREBASE_API_KEY=AIzaSyD9FxCHyk-l8QUQ-2Rzbif-XjYWGC5cRog
VITE_FIREBASE_AUTH_DOMAIN=genial-inn-2h7sp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=genial-inn-2h7sp
VITE_FIREBASE_STORAGE_BUCKET=genial-inn-2h7sp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=295815579779
VITE_FIREBASE_APP_ID=1:295815579779:web:585000cb89c55959cc33b6

# Supabase Config
VITE_SUPABASE_URL=https://qwcejyerqftabzzcdkxl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3Y2VqeWVycWZ0YWJ6emNka3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NTYxNTYsImV4cCI6MjA5OTUzMjE1Nn0.FAmRxLkaL4AtRkyvRZD7pf_serXgq2MQCzzWY44YB_k
